@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

$rouge: #ff2c36;
$rougec: #ff4f54;
$rouget: rgba(255, 44, 54, 0.8);
$bleu: #338fdf;
$bleuc: #509fdf;
$bleut: rgba(51, 143, 223, 0.8);
$noir: #232323;
$noirt: rgba(35, 35, 35, 0.8);
$gris: #434343;

$gras: 700;
$regular: 400;

*{
  font-family: 'Roboto', sans-serif;
}